[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
psycopg2-binary = "*"
pg8000 = "*"
pytz = "*"
pylint = "*"

[requires]
python_version = "3.8"
